@font-face {
    font-family: 'Copperplate Gothic Regular';
    src: url('/home/daily_reports/NASDAQ/Copperplate Gothic Regular.ttf')
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('/home/daily_reports/NASDAQ/OldStandard-Regular.ttf')
}

html {
    width: 8.5in;
    height: 11in;
    margin: auto;
    background: url("/home/daily_reports/DJIA/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.background {
    width: 8.5in;
    height: 11in;
    position: absolute;
    z-index: -1;
    margin: 0;
}

.header {
    color: black;
    border: solid 3px black;
    font-family: "Copperplate Gothic Regular", sans-serif;
    position: absolute;
    width: 7.5in;
    left: .35in;
    top: .0in;
    text-align: center;
    background-color: rgba(2, 164, 213, .8);
    margin: 0;
}

#DJIA {
    color: #000;
    width: 3in;
    font-family: 'Old Standard TT', sans-serif;
    font-size: 19px;
    text-align: center;
    position: absolute;
    top: .55in;
    left: .0in;
    border-spacing: 0 .0in;
    border: solid 3px black;
}

.graph {
    position: absolute;
    width: 5in;
    height: 3.7in;
    opacity: .9;
    border: solid 3px black;
    top: .55in;
    right: .2in;
    box-sizing: border-box;
}

.change {
    color: #000;
    font-family: 'Old Standard TT', sans-serif;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 4.275in;
    border-spacing: 0in;
    border: solid 3px black;
    width: 4.5in;
    left: 1.9in;
}

.moving-averages {
    color: #000;
    font-family: 'Old Standard TT', sans-serif;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 5.75in;
    border-spacing: 0;
    border: solid 3px black;
    left: 5.5in;
}

.bollinger-bands {
    color: #000;
    font-family: 'Old Standard TT', sans-serif;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 8.75in;
    border-spacing: 0;
    border: solid 3px black;
    left: 5.65in;
}

#DJIA th, .change th {
    text-align: center;
    background-color: rgba(2, 164, 213, .8);
    border-bottom: solid black 3px;
}

#DJIA tbody tr td:nth-child(odd), .change tbody tr td:nth-child(odd) {
    background: rgba(91, 146, 220, .7);
}

#DJIA tbody tr td:nth-child(even), .change tbody tr td:nth-child(even) {
    background-color: rgba(147, 211, 247, .7);
}

#DJIA tbody tr:last-child td {
    border-top: solid 3px black;
}

.moving-averages th, .bollinger-bands th {
    text-align: center;
    background-color: rgba(2, 164, 213, .8);
}

.moving-averages tbody tr:nth-child(even) td, .bollinger-bands tbody tr:nth-child(even) td {
    background-color: rgba(147, 211, 247, .7);
}

.moving-averages tbody tr:nth-child(odd) td, .bollinger-bands tbody tr:nth-child(odd) td {
    background: rgba(91, 146, 220, .7);
}

.moving-averages tbody tr td, .bollinger-bands tbody tr td {
    border-bottom: solid 1px black;
}

.moving-averages tbody tr:last-child td, .bollinger-bands tbody tr:last-child td {
    border-bottom: none;
}

.technicals-text {
    color: black;
    border: solid 3px black;
    font-family: "Old Standard TT", sans-serif;
    font-size: 18px;
    position: absolute;
    width: 2.25in;
    text-align: center;
    background-color: rgba(2, 164, 213, .8);
    margin: 0;
}

#MA {
    top: 5.35in;
    left: 5.6in;
}

#BB {
    top: 8.35in;
    left: 5.6in;
}

.components {
    color: #000;
    font-family: 'Old Standard TT', sans-serif;
    font-size: 14px;
    text-align: center;
    position: absolute;
    border-spacing: 0in;
    border: solid 3px black;
    border-bottom: solid 3px black;
}

.components tbody tr td:first-child {
    text-align: left;
}

.components th {
    text-align: center;
    background-color: rgba(2, 164, 213, .8);
    border-bottom: solid black 3px;
}
.components tbody tr td:nth-child(odd) {
    background: rgba(91, 146, 220, .8);
}

.components tbody tr td:nth-child(even) {
    background-color: rgba(147, 211, 247, .8);
}

.components tbody tr td:nth-child(1) {
    width: 125px;
}

.components tbody tr td:nth-child(2) {
    width: 45px;
}

.components tbody tr td:nth-child(3) {
    width: 50px;
}

.components tbody tr td:nth-child(4) {
    width: 50px;
}

.components tbody tr td:nth-child(5) {
    width: 70px;
}

.components tbody tr td:nth-child(6) {
    width: 75px;
}

.components tbody tr td:nth-child(7) {
    width: 55px;
}

.components-text {
    color: black;
    border: solid 3px black;
    font-family: "Old Standard TT", sans-serif;
    font-size: 18px;
    position: absolute;
    width: 4in;
    text-align: center;
    background-color: rgba(2, 164, 213, .8);
    margin: 0;
}

#winners {
    top: 5.4in;
    left: .1in;
}

#losers {
    top: 8.35in;
    left: .1in;
}

#winners-text {
    top: 5in;
    left: .7in;
}

#losers-text {
    top: 7.95in;
    left: .7in;
}

table tbody tr td {
    border-left: solid 1px black;
}

table tbody tr td:nth-child(1) {
    border-left: none;
}